html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #fff;
}

.loader {
  width: 250px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px -125px;
  list-style-type: none;
}

.loader li {
  float: left;
  position: relative;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 0 0 50% 50%;
  border: 4px solid #0D47A1;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.ball {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 100%;
  background: #0D47A1;
  box-shadow: 0 -15px 0 0 rgba(13,71,161, 0.15), 0 -10px 0 0 rgba(13,71,161, 0.10), 0 -5px 0 0 rgba(13,71,161, 0.05);
}

.circle {
  -webkit-animation: rotate 1.5s cubic-bezier(0.45, 0, 1, 1) infinite;
  animation: rotate 1.5s cubic-bezier(0.45, 0, 1, 1) infinite;
}

.ball {
  -webkit-animation: fall 1.5s cubic-bezier(0.95, 0, 1, 1) infinite;
  animation: fall 1.5s cubic-bezier(0.95, 0, 1, 1) infinite;
}

.loader li:nth-child(1) div {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.loader li:nth-child(2) div {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.loader li:nth-child(3) div {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.loader li:nth-child(4) div {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.loader li:nth-child(5) div {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

@keyframes rotate {
  0%, 20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  0%, 20% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes fall {
  0%, 20% {
    transform: translatey(-30px);
    opacity: 0;
  }
  20%,
  24%,
  27%,
  30%,
  50%,
  75% {
    transform: translatey(0px);
    opacity: 1;
  }
  22% {
    transform: translatey(-10px)
  }
  25% {
    transform: translatey(-6px)
  }
  28% {
    transform: translatey(-2px)
  }
  30% {
    box-shadow: 0px 0px 0px rgba(13,71,161, 0.3);
  }
  75%,
  100% {
    box-shadow: 0 -15px 0 0 rgba(13,71,161, 0.15), 0 -10px 0 0 rgba(13,71,161, 0.10), 0 -5px 0 0 rgba(13,71,161, 0.05);
    transform: translatey(30px);
    opacity: 0;
  }
}

@-webkit-keyframes fall {
  0%, 20% {
    -webkit-transform: translatey(-30px);
    opacity: 0;
  }
  20%,
  24%,
  27%,
  30%,
  50%,
  75% {
    -webkit-transform: translatey(0px);
    opacity: 1;
  }
  22% {
    -webkit-transform: translatey(-10px)
  }
  25% {
    -webkit-transform: translatey(-6px)
  }
  28% {
    -webkit-transform: translatey(-2px)
  }
  30% {
    box-shadow: 0px 0px 0px rgba(13,71,161, 0.3);
  }
  75%,
  100% {
    box-shadow: 0 -15px 0 0 rgba(13,71,161, 0.15), 0 -10px 0 0 rgba(13,71,161, 0.10), 0 -5px 0 0 rgba(13,71,161, 0.05);
    -webkit-transform: translatey(30px);
    opacity: 0;
  }
}

h2 {
  text-align: center;
}

#graphs, #graphs-history {
  min-width: 1200px;
  text-align: center;
}

.graph-reeltime {
  width: 500px;
  height: 200px
}
.graph {
  display: inline-block;
  padding: 20px 15px;
}

.header {
  width: 100%;
  line-height: 50px;
  padding-left: 20px;
  height: 50px;
  background-color: #0D47A1;
  color: white;
}

.header h1 {
  display: inline-block;
}

ul.header-menu {
  display: inline-block;
}

ul.header-menu li {
  display: inline-block;
}

ul.header-menu li a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: white;
  text-decoration: none;
}

ul.header-menu li a:hover {
  background-color: #1565C0;
}

#dateHistory {
  margin: 15px;
}

#dateHistoryLoad {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 0;
  padding: 6px;
  margin-bottom: 2px;
  cursor: pointer;
  background-color: #1565C0;
}

#dateHistoryLoad:hover {
  background-color: #0D47A1;
}

